<div class="books">
  <ul style="list-style-type:none">

      <h2>List of All Genres</h2>
    {{#each genres}}
      <a href="/genre/{{id}}">
        <h3>{{genre}}</h3>
        <h4>{{description}}</h4>
      </a>
    {{else}}
      <h1>Not Found</h1>
    {{/each}}

  </ul>
</div>
