<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
  <body>

    <div id="nav">
	<!-- main nav -->
		<ul>
	  <li>
      <a href="">Bookstore</a>
	  </li>
	  <li>
      <a href="/authors/list" class="">AUTHORS</a>
	  </li>
	  <li>
		  <a href="/genres/" class="">GENRES</a>
    </li>

    <div class="container">
      <form role="search" action="/search-books" method="get">
        <div class="form-group form-group-default">
          <input type="text" class="form-control input-default" id="inputdefault" name="search_query" placeholder="author or title or genre" />
        </div>
        <button type="submit" class="btn-zoomshift">
          <span class="glyphicon glyphicon-search" aria-hidden="true" /></span>
        </button>
      </form>
    </div>

<!-- <form role="search" action="/search-books" method="get">
      <form class="form-wrapper">
    	<input type="text" placeholder="author or genre or title">
  	  <button type="button" class="btn-zoomshift">Search</button>
  </form> -->
  </ul>

    {{{body}}}
  </body>
</html>
