<div class="container">
  <form action="/update/book/{{book.id}}" method="post">

    <h2>Update Book</h2>

    <div class="form-group">
      <label for="text">Title</label>
      <input type="text" class="form-control" name="title" value="{{book.title}}">
    </div>

    <div class="form-group">
      <label for="text">Description</label>
      <textarea name="description" class="form-control" rows="5" cols="40">{{book.description}}</textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
